<footer>
  <ul class="about-footer">
    <li><%= link_to '利用規約', terms_path(current_user) , method: :get %></li>
    <li style="padding-left:30px;"><%= link_to 'プライバシーポリシー', policy_path(current_user), method: :get %></li>
  </ul>
  <p style="text-align:center; padding-left:30px;">Copyright © 2021 Hayata Aoki All Rights Reserved.</p>
</footer>