<footer>
  <ul class="about-footer">
    <li><%= link_to '利用規約', '/static_pages/terms' , method: :get %></li>
    <li style="padding-left:30px;"><%= link_to 'プライバシーポリシー', '/static_pages/policy', method: :get %></li>
  </ul>
  <p style="text-align:center; padding-left:30px;">Copyright © 2021 Hayata Aoki All Rights Reserved.</p>
</footer>