<header class="navbar">
    <div class="container logo">
         <nav>
            <i class="fas fa-gem fa-2x"></i><%= link_to ' RailsApp', root_path ,{style: "font-size:2.2em; padding-right:2em;"} %>
                <ul class="nav navbar-nav navbar-right">
                  <li><%= link_to '新規登録', '/users/new',{class: "btn btn--signup2"} %></li>
                  <li style="padding-left:15px;"><%= link_to 'ログインする', '/sessions/new',{class: "btn btn--signup"} %></li>
                </ul>
          </nav>
     </div>
</header>