<%= render 'static_pages/header' %>
    
<div class="small-heading", style="text-align: center; font-weight: bolder; font-size: 40px;">
       <div style="color: #14305c;">    
          <p>マッチングアプリで</p>
          <p style="padding-top: 1%;">人生のパートナーを見つけよう</p>
       </div>
       
   <i class="far fa-heart fa-heart2"></i>
</div>

<div class="button-contents">
    <div><%= button_to 'ゲストログイン', guest_sessions_path, method: :post,class: "today shadow" %></div>
</div>

<%#= render 'static_pages/footer' %>
   

   
