<body style="background-color: rgba(0,0,0,0.6);">
    <div class="user-contents"> 
        <div><%= image_tag @user.image.url, class: "user_icon5" %></div>
            <div class="user-info-3">
                  <p><%= @user.name %></p>
                  <p><%= @user.residence %></p>
                  <p><%= @user.age %>歳</p>
            </div>
    
    </div>
</body>