<%= render 'users/left_partial' %>
  <div id="app-1" v-cloak>    
      <div class="main-contents">
         <div style="margin-left:20px;"> 
          
          <div v-if="isActive === 'A'">
              <div class="icon-prf">
                 <% if @user.image? %>
                    <%= image_tag @user.image.url, class: "user_icon2" %>
                <% else %>
                    <%= image_tag "default_icon.jpg", class: "user_icon2" %>
                <% end %>
              </div>
              <p style="text-align:center;">web designer</p>
                <p style="text-align:center;">Text.app is a simple text editor for Chrome OS and Chrome. It's fast, lets you open multiple files at once, has syntax highlighting, and saves to Google Drive on Chrome OS.</p>
          </div>
            
          <div v-else-if="isActive === 'B'">
                
          </div>
        
          <div v-else-if="isActive === 'C'">  
             <%= render 'users/edit_prf'%>
          </div>
          
          
      </div>
      
      
     </div>
     <div class="header-menu-prf" style="margin-left:29%;">
     <ul class="icon-prf2">
              <li v-on:click="change('A')" v-bind:class="{'active': isActive === 'A'}">
              <i v-bind:class="{'active': isActive === 'A'}" class="fas fa-street-view fa-4x"></i>
              <p v-bind:class="{'active': isActive === 'A'}" style="text-align: center;">Intro</p>
              </li>
              
              <li v-on:click="change('B')" v-bind:class="{'active': isActive === 'B'}" style="margin-left:20%;">
              <i v-bind:class="{'active': isActive === 'B'}" class="fas fa-id-card fa-4x"></i>
              <p v-bind:class="{'active': isActive === 'B'}" style="text-align: center;">Profile</p>
              </li>
              
              <li v-on:click="change('C')" v-bind:class="{'active': isActive === 'C'}" style="margin-left:20%;">
              <i v-bind:class="{'active': isActive === 'C'}" class="fas fa-edit fa-4x"></i>
              <p v-bind:class="{'active': isActive === 'C'}" style="text-align: center; padding-right:10px;">Edit</p>
              </li>
          </ul>
    </div>
  </div>
<script>
new Vue({
  el: '#app-1',
  data: {
    isActive: 'A'
  },
  methods: {
    change: function(num){
      this.isActive = num
    }
  }
})
</script>


