.message-style {
    font-size: 15px;
    color: white;
    background:#5abbe8;
    padding: 16px;
    border-radius: 25px;
    text-align: center;
    margin:0px;
    width: 500px;
    text-align:left;
    position:relative;
    right: -400px;
}

.other-message-style {
    font-size: 15px;
    color: black;
    background:#dce5e6;
    padding: 16px;
    border-radius: 25px;
    text-align: center;
    margin:0px;
    width: 500px;
    text-align:left;
    position:relative;
    right: -400px;
}