.message-contents {
}

.form-message {

}

.form-text-field {
    line-height: 5; 
    background-color:#ffffff; 
    row: 10;
    border-style: solid;
    border-color: #4eed79;
    border-radius: 30px;
}