.message-contents {
    padding-bottom:400px;
}

.form-message {
    
    position: fixed;
    bottom: -18px;
    width: 71.6%;
    float: right;
    left: 28.1%;
}

.form-text-field {
    line-height: 5; 
    background-color:#ffffff; 
    row: 10;
    border-style: solid;
    border-color: #4eed79;
    border-radius: 30px;
}