@import "bootstrap-sprockets";
@import "bootstrap";

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

.user_icon {
  width: 180px;
  height: 180px;
  border-radius: 100px;
}

.user_prf {
  float: right;
}
