<%= render 'users/left_partial' %>
<div id="community" v-cloak>    
    <div class="main-contents">
        <div style="margin-left:20px;">
            <h2 style="font-weight:bold;">コミュニティ</h2>
          
        </div>
</div>
    </div>